core/fit_scorer.json
{
  "name": "Fit Scorer — Claude AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "score-job",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-score-job",
      "name": "Webhook: /score-job",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst path = require('path');\n\n// Read the fit scorer system prompt\nconst promptPath = path.join(process.cwd(), 'prompts', 'fit_scorer.md');\nlet systemPrompt;\ntry {\n  systemPrompt = fs.readFileSync(promptPath, 'utf-8');\n} catch (e) {\n  // Fallback: inline prompt if file not found\n  systemPrompt = `You are a precise job-fit scoring agent for Dev Rajput (MBA, 3+ years operations/client management). Score jobs 0-100 and return ONLY JSON with keys: score, verdict, top_matches, gaps, cv_variant, cover_letter_needed, rejection_reason. Thresholds: 75+ STRONG_MATCH, 60-74 GOOD_MATCH, below 60 REJECT.`;\n}\n\nconst body = $input.first().json.body;\nconst { job_title, company, location, description, source_platform, job_url } = body;\n\nconst userMessage = `Job Title: ${job_title}\\nCompany: ${company}\\nLocation: ${location}\\n\\nJob Description:\\n${description}`;\n\nreturn [{\n  json: {\n    systemPrompt,\n    userMessage,\n    job_title,\n    company,\n    location,\n    description,\n    source_platform,\n    job_url\n  }\n}];"
      },
      "id": "fn-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 600,\n  \"system\": \"{{$json.systemPrompt}}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{$json.userMessage}}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-claude-scorer",
      "name": "Claude API — Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "const response = $input.first().json;\nconst text = response.content && response.content[0] && response.content[0].text;\n\nif (!text) {\n  throw new Error('Claude returned empty response');\n}\n\nlet scoreData;\ntry {\n  // Extract JSON from response (Claude may wrap in markdown code blocks)\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('No JSON found in Claude response');\n  scoreData = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error(`Failed to parse score JSON: ${e.message}. Raw: ${text}`);\n}\n\n// Attach original job data\nconst prev = $('Build Prompt').first().json;\nscoreData.job_title = prev.job_title;\nscoreData.company = prev.company;\nscoreData.location = prev.location;\nscoreData.description = prev.description;\nscoreData.source_platform = prev.source_platform;\nscoreData.job_url = prev.job_url;\nscoreData.scored_at = new Date().toISOString();\n\nreturn [{ json: scoreData }];"
      },
      "id": "fn-parse-score",
      "name": "Parse Score",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.score}}",
              "operation": "largerEqual",
              "value2": 60
            }
          ]
        }
      },
      "id": "if-threshold",
      "name": "IF: Score >= 60?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/build-cv",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "http-trigger-cvbuilder",
      "name": "Trigger CV Builder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/log-application",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"company\": \"{{$json.company}}\", \"job_title\": \"{{$json.job_title}}\", \"platform\": \"{{$json.source_platform}}\", \"location\": \"{{$json.location}}\", \"fit_score\": {{$json.score}}, \"status\": \"REJECTED\", \"job_url\": \"{{$json.job_url}}\", \"notes\": \"{{$json.rejection_reason}}\"}",
        "options": {}
      },
      "id": "http-log-rejection",
      "name": "Log Rejection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook: /score-job": {
      "main": [[{"node": "Build Prompt", "type": "main", "index": 0}]]
    },
    "Build Prompt": {
      "main": [[{"node": "Claude API — Score", "type": "main", "index": 0}]]
    },
    "Claude API — Score": {
      "main": [[{"node": "Parse Score", "type": "main", "index": 0}]]
    },
    "Parse Score": {
      "main": [[{"node": "IF: Score >= 60?", "type": "main", "index": 0}]]
    },
    "IF: Score >= 60?": {
      "main": [
        [{"node": "Trigger CV Builder", "type": "main", "index": 0}],
        [{"node": "Log Rejection", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "fit-scorer-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
