scrapers/linkedin_rss.json
[{"updatedAt":"2026-05-07T09:39:55.000Z","createdAt":"2026-05-05T11:48:52.793Z","id":"linkedin-scraper-workflow","name":"Scraper — LinkedIn Jobs","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"schedule-linkedin","name":"Schedule: Every 4h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"functionCode":"const searches = [{\"query\": \"AI+Operations+Manager\", \"location\": \"India\", \"geo\": \"102713980\", \"label\": \"AI Ops India\", \"platform\": \"linkedin_india\"}, {\"query\": \"AI+Project+Manager\", \"location\": \"India\", \"geo\": \"102713980\", \"label\": \"AI PM India\", \"platform\": \"linkedin_india\"}, {\"query\": \"AI+Customer+Success\", \"location\": \"India\", \"geo\": \"102713980\", \"label\": \"AI CS India\", \"platform\": \"linkedin_india\"}, {\"query\": \"AI+Strategy\", \"location\": \"India\", \"geo\": \"102713980\", \"label\": \"AI Strategy India\", \"platform\": \"linkedin_india\"}, {\"query\": \"Customer+Success+Manager\", \"location\": \"India\", \"geo\": \"102713980\", \"label\": \"CSM India\", \"platform\": \"linkedin_india\"}, {\"query\": \"Project+Manager\", \"location\": \"Delhi+NCR\", \"geo\": \"90009706\", \"label\": \"PM Delhi\", \"platform\": \"linkedin_india\"}, {\"query\": \"AI+Operations+Manager\", \"location\": \"Europe\", \"geo\": \"91000002\", \"label\": \"AI Ops Europe\", \"platform\": \"linkedin_eu\"}, {\"query\": \"AI+Customer+Success\", \"location\": \"Europe\", \"geo\": \"91000002\", \"label\": \"AI CS Europe\", \"platform\": \"linkedin_eu\"}];\nconst urls = searches.map(s => ({\n  url: `https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=${s.query}&location=${s.location}&geoId=${s.geo}&f_TPR=r86400&start=0`,\n  label: s.label,\n  source_platform: s.platform\n}));\nreturn urls.map(u => ({ json: u }));"},"id":"fn-build-urls","name":"Build Search URLs","type":"n8n-nodes-base.function","typeVersion":1,"position":[460,300]},{"parameters":{"method":"GET","url":"={{$json.url}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml"},{"name":"Accept-Language","value":"en-US,en;q=0.9"}]},"options":{"timeout":15000,"redirect":{"redirect":{"followRedirects":true}},"batching":{"batch":{"batchSize":1,"batchInterval":5000}},"retry":{"enabled":true,"maxTries":3,"waitBetweenTries":10000}}},"id":"http-fetch-linkedin","name":"Fetch LinkedIn Results","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300]},{"parameters":{"functionCode":"const html = $input.first().json.data || $input.first().json;\nconst sourcePlatform = $('Build Search URLs').first().json.source_platform;\n\nif (typeof html !== 'string') return [];\n\n// Extract job cards from LinkedIn HTML\nconst jobMatches = html.match(/data-entity-urn=\"urn:li:jobPosting:(\\d+)\"/g) || [];\nconst titleMatches = html.match(/class=\"base-search-card__title\"[^>]*>([^<]+)</g) || [];\nconst companyMatches = html.match(/class=\"base-search-card__subtitle\"[^>]*>([^<]+)</g) || [];\nconst locationMatches = html.match(/class=\"job-search-card__location\"[^>]*>([^<]+)</g) || [];\n\nconst jobs = [];\nfor (let i = 0; i < jobMatches.length; i++) {\n  const idMatch = jobMatches[i].match(/(\\d+)/);\n  if (!idMatch) continue;\n  const jobId = idMatch[1];\n  const title = titleMatches[i] ? titleMatches[i].replace(/<[^>]+>/g, '').trim() : 'Unknown';\n  const company = companyMatches[i] ? companyMatches[i].replace(/<[^>]+>/g, '').trim() : 'Unknown';\n  const location = locationMatches[i] ? locationMatches[i].replace(/<[^>]+>/g, '').trim() : 'Unknown';\n  jobs.push({\n    job_id: jobId,\n    job_title: title,\n    company: company,\n    location: location,\n    job_url: `https://www.linkedin.com/jobs/view/${jobId}`,\n    source_platform: sourcePlatform\n  });\n}\n\nreturn jobs.map(j => ({ json: j }));"},"id":"fn-parse-linkedin","name":"Parse LinkedIn Results","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,300]},{"parameters":{"functionCode":"const fs = require('fs');\nconst path = require('path');\n\nconst cacheDir = 'C:/Users/Dev/Desktop/Job Agents/job-agent/setup/cache';\nif (!fs.existsSync(cacheDir)) fs.mkdirSync(cacheDir, { recursive: true });\n\n// Per-platform cache file\nconst item = $input.first().json;\nconst platform = item.source_platform || 'unknown';\nconst cacheFile = path.join(cacheDir, `seen_${platform.replace(/[^a-z0-9_]/gi, '_')}.json`);\n\nlet seen = [];\ntry { seen = JSON.parse(fs.readFileSync(cacheFile, 'utf-8')); } catch (e) {}\n\nconst url = item.job_url || item.job_id || '';\nif (!url) return [];\nif (seen.includes(url)) return []; // Already seen\n\nseen.push(url);\nif (seen.length > 5000) seen = seen.slice(-3000);\nfs.writeFileSync(cacheFile, JSON.stringify(seen));\n\nreturn [{ json: item }];"},"id":"fn-dedup","name":"Deduplicate","type":"n8n-nodes-base.function","typeVersion":1,"position":[1120,300]},{"parameters":{"method":"GET","url":"=https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{{$json.job_id}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]},"options":{"timeout":10000}},"id":"http-fetch-jd","name":"Fetch Job Description","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,300]},{"parameters":{"functionCode":"const html = $input.first().json.data || '';\nconst prev = $('Deduplicate').first().json;\n\n// Extract description text from LinkedIn job posting HTML\nconst descMatch = html.match(/class=\"show-more-less-html__markup[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/);\nlet description = '';\nif (descMatch) {\n  description = descMatch[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nif (!description || description.length < 50) {\n  description = `${prev.job_title} at ${prev.company}. See full description at: ${prev.job_url}`;\n}\n\nreturn [{ json: { ...prev, description: description.substring(0, 3000) } }];"},"id":"fn-extract-jd","name":"Extract JD Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[1560,300]},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5678/webhook/score-job","sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify($json)}}","options":{}},"id":"http-trigger-scorer","name":"Trigger Fit Scorer","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1780,300]}],"connections":{"Schedule: Every 4h":{"main":[[{"node":"Build Search URLs","type":"main","index":0}]]},"Build Search URLs":{"main":[[{"node":"Fetch LinkedIn Results","type":"main","index":0}]]},"Fetch LinkedIn Results":{"main":[[{"node":"Parse LinkedIn Results","type":"main","index":0}]]},"Parse LinkedIn Results":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Deduplicate":{"main":[[{"node":"Fetch Job Description","type":"main","index":0}]]},"Fetch Job Description":{"main":[[{"node":"Extract JD Text","type":"main","index":0}]]},"Extract JD Text":{"main":[[{"node":"Trigger Fit Scorer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"85a8ce75-efdf-433f-bbb6-9a23674a5346","activeVersionId":"85a8ce75-efdf-433f-bbb6-9a23674a5346","versionCounter":33,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-05T11:48:52.813Z","createdAt":"2026-05-05T11:48:52.813Z","role":"workflow:owner","workflowId":"linkedin-scraper-workflow","projectId":"XxRfzNcZZPKbVFJ4","project":{"updatedAt":"2025-09-11T18:16:29.262Z","createdAt":"2025-09-11T18:15:47.340Z","id":"XxRfzNcZZPKbVFJ4","name":"Dev Rajput <rajputdev77@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"10df8a02-98c1-4628-8f50-17fb05a8dd57"}}],"versionMetadata":{"name":null,"description":null}}]