scrapers/linkedin_rss.json
{
  "name": "Scraper — LinkedIn Jobs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "hours", "hoursInterval": 4}]
        }
      },
      "id": "schedule-linkedin",
      "name": "Schedule: Every 4h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// LinkedIn job search URLs (HTML scrape — LinkedIn has no public RSS)\nconst searches = [\n  { query: 'Customer+Success+Manager', location: 'India', geo: '102713980', label: 'CSM India' },\n  { query: 'Project+Coordinator', location: 'India', geo: '102713980', label: 'PC India' },\n  { query: 'Operations+Manager', location: 'Delhi+NCR', geo: '90009706', label: 'Ops Delhi' },\n  { query: 'Business+Development+Manager', location: 'India', geo: '102713980', label: 'BDM India' },\n  { query: 'Customer+Success+Manager', location: 'Europe', geo: '91000002', label: 'CSM Europe' },\n  { query: 'Operations+Manager', location: 'Netherlands', geo: '102890719', label: 'Ops NL' },\n  { query: 'Project+Manager', location: 'Germany', geo: '101282230', label: 'PM Germany' },\n  { query: 'Business+Analyst', location: 'United+Kingdom', geo: '101165590', label: 'BA UK' }\n];\n\nconst urls = searches.map(s => ({\n  url: `https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords=${s.query}&location=${s.location}&geoId=${s.geo}&f_TPR=r86400&start=0`,\n  label: s.label,\n  source_platform: s.label.includes('Europe') || s.label.includes('NL') || s.label.includes('Germany') || s.label.includes('UK') ? 'linkedin_eu' : 'linkedin_india'\n}));\n\nreturn urls.map(u => ({ json: u }));"
      },
      "id": "fn-build-urls",
      "name": "Build Search URLs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},
            {"name": "Accept", "value": "text/html,application/xhtml+xml"},
            {"name": "Accept-Language", "value": "en-US,en;q=0.9"}
          ]
        },
        "options": {"timeout": 15000, "redirect": {"redirect": {"followRedirects": true}}}
      },
      "id": "http-fetch-linkedin",
      "name": "Fetch LinkedIn Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "const html = $input.first().json.data || $input.first().json;\nconst sourcePlatform = $('Build Search URLs').first().json.source_platform;\n\nif (typeof html !== 'string') return [];\n\n// Extract job cards from LinkedIn HTML\nconst jobMatches = html.match(/data-entity-urn=\"urn:li:jobPosting:(\\d+)\"/g) || [];\nconst titleMatches = html.match(/class=\"base-search-card__title\"[^>]*>([^<]+)</g) || [];\nconst companyMatches = html.match(/class=\"base-search-card__subtitle\"[^>]*>([^<]+)</g) || [];\nconst locationMatches = html.match(/class=\"job-search-card__location\"[^>]*>([^<]+)</g) || [];\n\nconst jobs = [];\nfor (let i = 0; i < jobMatches.length; i++) {\n  const idMatch = jobMatches[i].match(/(\\d+)/);\n  if (!idMatch) continue;\n  const jobId = idMatch[1];\n  const title = titleMatches[i] ? titleMatches[i].replace(/<[^>]+>/g, '').trim() : 'Unknown';\n  const company = companyMatches[i] ? companyMatches[i].replace(/<[^>]+>/g, '').trim() : 'Unknown';\n  const location = locationMatches[i] ? locationMatches[i].replace(/<[^>]+>/g, '').trim() : 'Unknown';\n  jobs.push({\n    job_id: jobId,\n    job_title: title,\n    company: company,\n    location: location,\n    job_url: `https://www.linkedin.com/jobs/view/${jobId}`,\n    source_platform: sourcePlatform\n  });\n}\n\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "fn-parse-linkedin",
      "name": "Parse LinkedIn Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "functionCode": "// Deduplicate using n8n static data\nconst seen = $getWorkflowStaticData('global');\nif (!seen.linkedinSeenUrls) seen.linkedinSeenUrls = [];\n\nconst item = $input.first().json;\nif (seen.linkedinSeenUrls.includes(item.job_url)) {\n  return []; // Skip duplicate\n}\n\nseen.linkedinSeenUrls.push(item.job_url);\n// Keep list from growing indefinitely\nif (seen.linkedinSeenUrls.length > 2000) {\n  seen.linkedinSeenUrls = seen.linkedinSeenUrls.slice(-1000);\n}\n\nreturn [{ json: item }];"
      },
      "id": "fn-dedup",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{{$json.job_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}
          ]
        },
        "options": {"timeout": 10000}
      },
      "id": "http-fetch-jd",
      "name": "Fetch Job Description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "functionCode": "const html = $input.first().json.data || '';\nconst prev = $('Deduplicate').first().json;\n\n// Extract description text from LinkedIn job posting HTML\nconst descMatch = html.match(/class=\"show-more-less-html__markup[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/);\nlet description = '';\nif (descMatch) {\n  description = descMatch[1].replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nif (!description || description.length < 50) {\n  description = `${prev.job_title} at ${prev.company}. See full description at: ${prev.job_url}`;\n}\n\nreturn [{ json: { ...prev, description: description.substring(0, 3000) } }];"
      },
      "id": "fn-extract-jd",
      "name": "Extract JD Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:5678/webhook/score-job",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json)}}",
        "options": {}
      },
      "id": "http-trigger-scorer",
      "name": "Trigger Fit Scorer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Schedule: Every 4h": {
      "main": [[{"node": "Build Search URLs", "type": "main", "index": 0}]]
    },
    "Build Search URLs": {
      "main": [[{"node": "Fetch LinkedIn Results", "type": "main", "index": 0}]]
    },
    "Fetch LinkedIn Results": {
      "main": [[{"node": "Parse LinkedIn Results", "type": "main", "index": 0}]]
    },
    "Parse LinkedIn Results": {
      "main": [[{"node": "Deduplicate", "type": "main", "index": 0}]]
    },
    "Deduplicate": {
      "main": [[{"node": "Fetch Job Description", "type": "main", "index": 0}]]
    },
    "Fetch Job Description": {
      "main": [[{"node": "Extract JD Text", "type": "main", "index": 0}]]
    },
    "Extract JD Text": {
      "main": [[{"node": "Trigger Fit Scorer", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "id": "linkedin-scraper-workflow"
}
