scrapers/naukri_scraper.json
[{"updatedAt":"2026-05-07T09:40:07.000Z","createdAt":"2026-05-05T11:49:00.273Z","id":"naukri-scraper-workflow","name":"Scraper — Naukri.com","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"schedule-naukri","name":"Schedule: Every 4h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[240,300]},{"parameters":{"functionCode":"const keywords = [\"ai-operations-manager\", \"ai-project-manager\", \"ai-customer-success\", \"ai-implementation-specialist\", \"ai-strategy-consultant\", \"ai-solutions-manager\", \"generative-ai\", \"ai-consultant\", \"customer-success-manager\", \"project-coordinator\", \"operations-manager\", \"project-manager\"];\nreturn keywords.map(k => ({\n  json: {\n    url: `https://www.naukri.com/jobapi/v3/search?noOfResults=20&urlType=search_by_keyword&searchType=adv&keyword=${k}&location=delhi-ncr&pageNo=1&experience=2&exprangeFrom=2&exprangeTo=6&jobAge=1&sort=1`,\n    label: k,\n    source_platform: 'naukri'\n  }\n}));"},"id":"fn-build-naukri-urls","name":"Build Search URLs","type":"n8n-nodes-base.function","typeVersion":1,"position":[460,300]},{"parameters":{"method":"GET","url":"={{$json.url}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"},{"name":"appid","value":"109"},{"name":"systemid","value":"109"},{"name":"Accept","value":"application/json"},{"name":"Accept-Language","value":"en-US,en;q=0.9"}]},"options":{"timeout":15000,"batching":{"batch":{"batchSize":1,"batchInterval":5000}},"retry":{"enabled":true,"maxTries":3,"waitBetweenTries":10000}}},"id":"http-fetch-naukri","name":"Fetch Naukri Results","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300]},{"parameters":{"functionCode":"const response = $input.first().json;\nconst sourcePlatform = $('Build Search URLs').first().json.source_platform;\n\nconst jobs = [];\nconst listings = (response.jobDetails || response.jobs || []);\n\nfor (const job of listings) {\n  jobs.push({\n    job_id: job.jobId || job.id || '',\n    job_title: job.title || job.jobTitle || '',\n    company: job.companyName || job.company || '',\n    location: (job.placeholders && job.placeholders[1] && job.placeholders[1].label) || job.location || '',\n    job_url: job.jdURL || `https://www.naukri.com/job-listings-${job.jobId}`,\n    description: job.jobDescription || job.description || '',\n    source_platform: sourcePlatform\n  });\n}\n\nreturn jobs.map(j => ({ json: j }));"},"id":"fn-parse-naukri","name":"Parse Naukri Results","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,300]},{"parameters":{"functionCode":"const fs = require('fs');\nconst path = require('path');\n\nconst cacheDir = 'C:/Users/Dev/Desktop/Job Agents/job-agent/setup/cache';\nif (!fs.existsSync(cacheDir)) fs.mkdirSync(cacheDir, { recursive: true });\n\n// Per-platform cache file\nconst item = $input.first().json;\nconst platform = item.source_platform || 'unknown';\nconst cacheFile = path.join(cacheDir, `seen_${platform.replace(/[^a-z0-9_]/gi, '_')}.json`);\n\nlet seen = [];\ntry { seen = JSON.parse(fs.readFileSync(cacheFile, 'utf-8')); } catch (e) {}\n\nconst url = item.job_url || item.job_id || '';\nif (!url) return [];\nif (seen.includes(url)) return []; // Already seen\n\nseen.push(url);\nif (seen.length > 5000) seen = seen.slice(-3000);\nfs.writeFileSync(cacheFile, JSON.stringify(seen));\n\nreturn [{ json: item }];"},"id":"fn-dedup-naukri","name":"Deduplicate","type":"n8n-nodes-base.function","typeVersion":1,"position":[1120,300]},{"parameters":{"method":"POST","url":"=http://127.0.0.1:5678/webhook/score-job","sendBody":true,"specifyBody":"json","jsonBody":"={{JSON.stringify($json)}}","options":{}},"id":"http-trigger-scorer-naukri","name":"Trigger Fit Scorer","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,300]}],"connections":{"Schedule: Every 4h":{"main":[[{"node":"Build Search URLs","type":"main","index":0}]]},"Build Search URLs":{"main":[[{"node":"Fetch Naukri Results","type":"main","index":0}]]},"Fetch Naukri Results":{"main":[[{"node":"Parse Naukri Results","type":"main","index":0}]]},"Parse Naukri Results":{"main":[[{"node":"Deduplicate","type":"main","index":0}]]},"Deduplicate":{"main":[[{"node":"Trigger Fit Scorer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3f40ff85-f417-473d-8601-96fdd296d02c","activeVersionId":"3f40ff85-f417-473d-8601-96fdd296d02c","versionCounter":33,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-05T11:49:00.277Z","createdAt":"2026-05-05T11:49:00.277Z","role":"workflow:owner","workflowId":"naukri-scraper-workflow","projectId":"XxRfzNcZZPKbVFJ4","project":{"updatedAt":"2025-09-11T18:16:29.262Z","createdAt":"2025-09-11T18:15:47.340Z","id":"XxRfzNcZZPKbVFJ4","name":"Dev Rajput <rajputdev77@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"10df8a02-98c1-4628-8f50-17fb05a8dd57"}}],"versionMetadata":{"name":null,"description":null}}]